@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.mood-container {
    height: 419px;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
   
}

h2 {
    color: #333;
    font-size: 1.5rem;
    font-weight: 200;
}

.moodOptions {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.moodButton:hover {
    background-color: #0056b3;
}

.selectedMood {
    margin: 10px;
    font-size: 18px;
}

.selectedMood span {
    font-weight: bold;
    color: #007bff;
}

.moodButton {
    background-color: #2d92f1;
    border-radius: 12px;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    transition: 200ms;
    width: 45%;
    margin: 1px;
    margin-bottom: 5px;
    box-sizing: border-box;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.moodButton:not(:disabled):hover,
.moodButton:not(:disabled):focus {
    outline: 0;
    background: #2d92f1;
    box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.moodButton:disabled {
    filter: saturate(0.2) opacity(0.5);
    -webkit-filter: saturate(0.2) opacity(0.5);
    cursor: not-allowed;
}
@media only screen and (max-width: 600px) {
    .mood-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
}

