
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    align-items: flex-start;
}

.dailyWeatherContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    width: 100vw; 
}

.dailyCard {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 150px;
    text-align: center;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
}

.dailyCard .day {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.dailyCard .weatherIcon {
    width: 50px;
    height: auto;
    margin-bottom: 10px;
}

.dailyCard .weatherDescription {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 10px;
}

.dailyCard .temperature {
    font-size: 1em;
    font-weight: bold;
    align-self: flex-end; 
    margin-top: auto; 
}

.dailyCard .temperature .max {
    color: #e74c3c; 
}

.dailyCard .temperature .min {
    color: #3498db; 
}


@media only screen and (max-width: 600px) {
    .dailyWeatherContainer {
        padding: 10px; 
    }
    
    .dailyCard {
        width: calc(100% - 20px); 
        height: auto; 
        padding: 15px;
        margin: 15px; 
    }

    .dailyCard .weatherIcon {
        width: 50px;
    }

    .dailyCard .day {
        font-size: 1em;
    }

    .dailyCard .weatherDescription {
        font-size: 0.8em;
    }

    .dailyCard .temperature {
        font-size: 1.3em;
    }
}
