.hourlyWeatherContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap; 
    font-family: 'Roboto', sans-serif;
}

.hourlyCard {
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 100px;
    display: flex; /* Add display flex */
    flex-direction: column; /* Adjust flex direction to column */
    justify-content: space-between; /* Space between for alignment */
}

.hourlyCard .weatherIcon {
    width: 40px;
    height: auto;
    margin-bottom: 5px;
    align-self: flex-end; /* Align the weather icon to flex end */
}

.hour {
    font-weight: normal;
    margin-bottom: 5px;
}

.temperature {
    font-size: 1.8em;
    margin-bottom: 5px;
}

.chanceOfRain {
    color: #007BFF;
    margin-bottom: 5px;
}

.weatherDescription {
    font-style: italic;
    color: #555;
}

@media only screen and (max-width: 600px) {
    .hourlyWeatherContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hourlyCard {
        width: 80%;
    }
}
