/* hourlyWeather.css */

.hourlyWeatherContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-direction: row;
}

.hourlyCard {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: 100px;
}

.hour {
    font-weight: bold;
    margin-bottom: 5px;
}

.temperature {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.chanceOfRain {
    color: #007BFF;
    margin-bottom: 5px;
}

.weatherDescription {
    font-style: italic;
    color: #555;
}
